src/main/app/backend-services.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

    <flow name="backend-service-web-flow" processingStrategy="synchronous">
        <expression-component doc:name="Get Conncetion Details"><![CDATA[props = app.registry.get('applicationProperties');
flowVars['host'] = props.get('backend.web.' + payload['serviceInstance'] + '.host');
flowVars['port'] = props.get('backend.web.' + payload['serviceInstance'] + '.port');
flowVars['path'] = props.get('backend.web.' + payload['serviceInstance']  + '.path');
]]></expression-component>
        <set-payload value="#[[ 'id' : payload['data'].get('id'), 'processedBy' : (flowVars['host'] + ':' + flowVars['port'] + '/' + flowVars['path']) ]]" doc:name="Set Response Payload"/>
    </flow>
    
    <flow name="backend-service-callcenter-flow" processingStrategy="synchronous">
        <expression-component doc:name="Get Conncetion Details"><![CDATA[props = app.registry.get('applicationProperties');
flowVars['host'] = props.get('backend.callcenter.' + payload['serviceInstance'] + '.host');
flowVars['port'] = props.get('backend.callcenter.' + payload['serviceInstance'] + '.port');
flowVars['path'] = props.get('backend.callcenter.' + payload['serviceInstance'] + '.path');
]]></expression-component>
        <set-payload value="#[[ 'id' : payload['data'].get('id'), 'processedBy' : (flowVars['host'] + ':' + flowVars['port'] + '/' + flowVars['path']) ]]" doc:name="Set Response Payload"/>
    </flow>
    
    <flow name="backend-service-shop-flow" processingStrategy="synchronous">
        <expression-component doc:name="Get Conncetion Details"><![CDATA[props = app.registry.get('applicationProperties');
flowVars['host'] = props.get('backend.shop.' + payload['serviceInstance'] + '.host');
flowVars['port'] = props.get('backend.shop.' + payload['serviceInstance'] + '.port');
flowVars['path'] = props.get('backend.shop.' + payload['serviceInstance'] + '.path');
]]></expression-component>
        <set-payload value="#[[ 'id' : payload['data'].get('id'), 'processedBy' : (flowVars['host'] + ':' + flowVars['port'] + '/' + flowVars['path']) ]]" doc:name="Set Response Payload"/>
    </flow>
    
</mule>
