src/main/app/parallel-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <flow name="parallel-single-request-flow" >
        <vm:inbound-endpoint exchange-pattern="one-way" path="single-request" connector-ref="vm-connector" doc:name="Single Request"/>
        <logger message="Processing prequest #[payload]" level="INFO" doc:name="Logger"/>
        <flow-ref name="save-correlation-info-sub-flow" doc:name="Save Correlation Info"/>
        <flow-ref name="backend-service-#[payload['serviceName']]-flow" doc:name="Backend Service"/>
        <flow-ref name="set-correlation-info-sub-flow" doc:name="Set Correlation Info"/>
        <vm:outbound-endpoint exchange-pattern="one-way" connector-ref="vm-connector" doc:name="Single Response" path="single-response"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-payload value="Error while processing single request for #[payload['serviceName']]" doc:name="Set Error Payload"/>
            <flow-ref name="handle-single-request-error-sub-flow" doc:name="Handle Single Request Error"/>
        </catch-exception-strategy>
    </flow>
    
    <sub-flow name="save-correlation-info-sub-flow">
        <set-variable variableName="correlationId" value="#[message.inboundProperties['MULE_CORRELATION_ID']]" doc:name="Save Correlation Id"/>
        <set-variable variableName="correlationGroupSize" value="#[message.inboundProperties['MULE_CORRELATION_GROUP_SIZE']]" doc:name="Save Correlatio Group Size"/>
        <set-variable variableName="correlationSequence" value="#[message.inboundProperties['MULE_CORRELATION_SEQUENCE']]" doc:name="Save Correlation Sequence"/>
    </sub-flow>
    
    <sub-flow name="set-correlation-info-sub-flow">
        <set-property propertyName="MULE_CORRELATION_ID" value="#[flowVars['correlationId']]" doc:name="Set Correlation Id"/>
        <set-property propertyName="MULE_CORRELATION_GROUP_SIZE" value="#[flowVars['correlationGroupSize']]" doc:name="Set Correlation Group Size"/>
        <set-property propertyName="MULE_CORRELATION_SEQUENCE" value="#[flowVars['correlationSequence']]" doc:name="Set Correlation Sequence"/>
    </sub-flow>
    
    <sub-flow name="handle-single-request-error-sub-flow">
        <transformer ref="remove-exeption-transformer" doc:name="Remove Exception"/>
        <flow-ref name="set-correlation-info-sub-flow" doc:name="Set Correlation Info"/>
        <vm:outbound-endpoint exchange-pattern="one-way" connector-ref="vm-connector" doc:name="Single Response" path="single-response"/>
    </sub-flow>
    
</mule>
